.bg-sandel {
  background-color: #f3eee8;
}

.header {
  z-index: 100;
  width: 90%;
  max-width: 1327px;
  background-color: rgba(0, 0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  padding-top: 44px;
  padding-bottom: 44px;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.div-block-2 {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.button {
  color: #fff;
  background-color: #a06056;
  padding: 16px 32px;
  font-family: Lexend, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
}

.button:hover {
  background-color: rgba(160, 96, 86, .8);
}

.button._w-100 {
  width: 100%;
  margin-top: 95px;
  padding-top: 22px;
  padding-bottom: 22px;
}

.button.center {
  text-align: center;
}

.button.h-56 {
  height: 56px;
  padding: 10px 53px;
  font-family: Manrope, sans-serif;
  font-weight: 700;
}

.div-block-3 {
  justify-content: center;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
  display: flex;
}

.div-block-4 {
  width: 782px;
}

.heading {
  color: #a06056;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Merriweather, serif;
  font-size: 70px;
  font-weight: 300;
  line-height: 93px;
}

.paragraph {
  color: #666;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.div-block-5 {
  max-width: 564px;
  margin-top: 56px;
  margin-left: auto;
  margin-right: auto;
}

.div-block-6 {
  margin-top: 50px;
}

.form-label {
  color: #666;
  font-family: Merriweather, serif;
  font-size: 16px;
  font-weight: 400;
}

.form-filed {
  height: 60px;
  color: #666;
  background-color: #fff;
  background-image: url('../images/gg_profile.svg');
  background-position: 10px;
  background-repeat: no-repeat;
  background-size: 32px 32px;
  padding-left: 61px;
  font-family: Manrope, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
}

.form-filed:focus {
  background-color: #faf8f8;
}

.form-filed.dropdown {
  background-color: #fff;
}

.form-filed.country {
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0);
  padding-left: 12px;
}

.form-filed.country:focus {
  background-color: #faf8f8;
}

.form-filed.select {
  background-image: url('../images/akar-icons_chevron-down.svg'), url('../images/gg_profile.svg');
  background-position: 97%, 10px;
  background-repeat: no-repeat, no-repeat;
  background-size: auto, 32px 32px;
}

.form-filed.select:focus {
  background-color: rgba(255, 255, 255, .8);
}

.div-block-7 {
  grid-column-gap: 17px;
  grid-row-gap: 17px;
  align-items: center;
  display: flex;
}

.div-block-8 {
  width: 100%;
}

.div-block-9 {
  width: 50%;
}

.div-block-10 {
  margin-top: 20px;
}

.dropdown {
  width: 100%;
}

.dropdown-toggle {
  width: 100%;
  padding-left: 0;
}

.text-block {
  color: #263238;
}

.div-block-11 {
  display: flex;
}

.dropdown-2 {
  height: auto;
}

.dropdown-toggle-2 {
  background-color: #fff;
  padding-top: 17px;
}

.dropdown-toggle-2.w--open {
  z-index: 10;
}

.icon {
  color: #666;
}

.dropdown-list {
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.dropdown-list.w--open {
  z-index: 99;
  background-color: #fff;
  top: 101%;
}

.dropdown-link {
  background-color: #fff;
  background-image: url('../images/emojione-v1_flag-for-united-states.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  padding-top: 0;
  padding-bottom: 40px;
}

.div-block-12 {
  display: flex;
}

.div-block-12.h-100 {
  height: auto;
  justify-content: center;
}

.div-block-12.vh100-min {
  height: 100vh;
  min-height: 100vh;
  padding-top: 50px;
}

.div-block-13 {
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  display: flex;
}

.div-block-13.h-100 {
  height: 100%;
}

.div-block-13.h-100._w-45 {
  width: 45%;
  padding-top: 0;
}

.div-block-14 {
  width: 50%;
}

.div-block-14.vh100 {
  height: 100vh;
}

.div-block-14.vh100.d-flex-v {
  align-items: center;
  display: flex;
}

.div-block-14.h-100 {
  height: 100%;
}

.div-block-14.h-100.d-flex-v {
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  display: flex;
}

.div-block-14.h-100.d-flex-v._w-55 {
  width: 55%;
}

.image {
  width: 100%;
  height: 100vh;
}

.heading-2 {
  color: #a06056;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Varta, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.heading-3 {
  color: #a06056;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Merriweather, serif;
  font-size: 60px;
  font-weight: 300;
  line-height: 70px;
}

.div-block-15 {
  width: 90%;
  max-width: 450px;
  grid-row-gap: 30px;
  flex-direction: column;
  display: flex;
}

.paragraph-2 {
  color: rgba(112, 100, 88, .9);
  margin-top: 0;
  margin-bottom: 0;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
}

.paragraph-2.white {
  color: #fff;
}

.paragraph-2.center {
  text-align: center;
}

.link-block {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  color: #a06056;
  justify-content: flex-start;
  align-items: center;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  text-decoration: none;
  display: flex;
}

.paragraph-3 {
  margin-bottom: 0;
}

.div-block-16 {
  display: inline-block;
}

.slider {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
}

.display-none {
  display: none;
}

.section {
  background-color: #292f36;
}

.div-block-18 {
  padding-top: 150px;
  padding-bottom: 150px;
}

.container {
  width: 90%;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.container._1200 {
  max-width: 1200px;
}

.div-block-19 {
  grid-column-gap: 0px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.heading-4 {
  color: #f3eee8;
  text-align: center;
  font-family: DM Serif Display, sans-serif;
  font-size: 85px;
  font-weight: 400;
  line-height: 106.25px;
}

.paragraph-4 {
  color: #fff;
  text-align: center;
  font-family: Jost, sans-serif;
  font-size: 22px;
  line-height: 33px;
}

.cover-div {
  align-items: center;
  display: flex;
}

.cover-div.last {
  border-right-style: none;
}

.line {
  width: 1px;
  height: 155px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
}

.div-block-21 {
  padding-left: 54px;
  padding-right: 54px;
}

.div-block-22 {
  display: flex;
}

.div-block-23 {
  width: 50%;
}

.div-block-24 {
  width: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.image-2 {
  width: 100%;
  height: 100vh;
}

.div-block-25 {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.div-block-26 {
  max-width: 438px;
  margin-left: auto;
  margin-right: auto;
}

.heading-5 {
  margin-top: 0;
  font-family: Merriweather, serif;
  font-size: 37px;
  font-weight: 400;
  line-height: 45.7px;
}

.heading-5.white {
  color: #fff;
}

.heading-5.h6 {
  font-size: 25px;
  line-height: 48px;
}

.div-block-27 {
  width: 49px;
  height: 4px;
  background-color: #a06056;
  margin-top: 26px;
  margin-bottom: 26px;
}

.div-block-28 {
  width: 90%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 240px;
  display: flex;
}

.div-block-29 {
  max-width: 821px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.image-3 {
  width: 100%;
  padding-top: 80px;
}

.div-block-30 {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 300px;
}

.div-block-31 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.image-4 {
  margin-bottom: 35px;
}

.div-block-32 {
  width: 450px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  display: flex;
}

.div-block-33 {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 20px 30px 1px rgba(0, 0, 0, .15);
}

.div-block-34 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.div-block-34.flip {
  grid-template-columns: .8fr 1fr;
}

.div-block-35 {
  background-color: #fff;
  padding: 35px;
}

.div-block-36 {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
}

.heading-6 {
  color: #666;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Manrope, sans-serif;
  font-size: 14.4px;
  font-weight: 800;
  line-height: 19.67px;
}

.paragraph-5 {
  color: #666;
  margin-bottom: 0;
  font-family: Manrope, sans-serif;
  font-size: 9.6px;
  line-height: 13.11px;
}

.div-block-37 {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.div-block-38 {
  padding: 20px;
}

.div-block-39 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #fff;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.image-5 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.div-block-40 {
  max-width: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.image-6 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.div-block-41 {
  width: 90%;
  max-width: 1320px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 488px 1fr;
  grid-auto-columns: 1fr;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  padding-top: 140px;
  padding-bottom: 300px;
  display: grid;
}

.section-2 {
  background-image: url('../images/Rectangle-776.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.div-block-42 {
  width: 488px;
  background-color: #292f36;
  padding: 50px;
}

.div-block-43 {
  max-width: 388px;
}

.div-block-43.mx-0 {
  max-width: none;
}

.div-block-44 {
  background-color: #fff;
  margin-bottom: 32px;
  margin-left: 0;
  padding: 62px 40px;
}

.section-3 {
  padding-top: 240px;
}

.div-block-45 {
  max-width: 1440px;
  background-color: #292f36;
  margin-top: -400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 96px;
  padding-bottom: 96px;
}

.div-block-46 {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.div-block-47 {
  width: 80%;
}

.div-block-48 {
  width: 20%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.div-block-49 {
  width: 90%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.div-block-50 {
  border-bottom: 1px solid #bbb;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
}

.div-block-51 {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.div-block-52 {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 150px;
  display: flex;
}

.footer-cop {
  margin-bottom: 0;
  font-family: Roboto, sans-serif;
}

.footer-cop-link {
  color: #333;
  text-decoration: underline;
}

.footer {
  padding-top: 80px;
}

.h1 {
  color: #a06056;
  text-align: left;
  font-family: Merriweather, serif;
  font-size: 70px;
  font-weight: 300;
  line-height: 85px;
}

.section-4 {
  padding-bottom: 120px;
}

.div-block-53 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
  display: flex;
}

.div-block-54 {
  max-width: 845px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.heading-7 {
  color: #a06056;
  text-align: center;
  margin-bottom: 0;
  font-family: Merriweather, serif;
  font-size: 70px;
  font-weight: 300;
  line-height: 93px;
}

.bg-scandel {
  background-color: #f3eee8;
}

.div-block-55 {
  width: 90%;
  max-width: 1297px;
  background-color: #fff;
  border-radius: 20px;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.html-embed {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.div-block-56 {
  max-width: 616px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.div-block-57 {
  margin-top: 77px;
}

.form {
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  display: flex;
}

.text-field {
  width: 370px;
  height: 56px;
  border: 1px solid rgba(0, 0, 0, 0);
  font-family: Poppins, sans-serif;
  font-size: 16px;
  line-height: 30.83px;
}

.text-field:focus {
  background-color: #fffdfd;
  border: 1px rgba(0, 0, 0, 0);
}

.heading-8 {
  text-align: center;
  letter-spacing: 5px;
  font-family: Poppins, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}

.div-block-58 {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.div-block-59 {
  padding-top: 80px;
}

.section-5 {
  background-image: url('../images/Rectangle-776.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 160px;
  padding-bottom: 160px;
}

.div-block-60 {
  width: 90%;
  max-width: 1127px;
  grid-column-gap: 80px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-left: auto;
  margin-right: auto;
  display: grid;
}

.div-block-61 {
  background-color: #292f36;
  padding: 50px;
}

.div-block-62 {
  max-width: 1500px;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.nav-menu {
  justify-content: center;
  align-items: center;
  display: flex;
}

.navbar {
  background-color: rgba(0, 0, 0, 0);
  padding-top: 44px;
  padding-bottom: 44px;
}

.div-block-63 {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav-menu {
  color: #000;
  padding-top: 0;
  padding-bottom: 0;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.nav-menu.w--current {
  color: #000;
  font-weight: 700;
}

.div-block-433 {
  width: 50%;
  background-color: #fff;
  border-radius: 8px;
  flex-direction: column;
  align-items: stretch;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  display: flex;
  box-shadow: 8px 8px 44px rgba(25, 43, 67, .06);
}

.div-block-433._2 {
  width: 90%;
  max-width: 1500px;
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0);
}

.rich-text-block {
  color: #000;
  font-size: 16px;
  line-height: 30px;
}

.image-7, .image-8 {
  border-radius: 50%;
}

.hero-bg {
  background-color: #eae3e1;
  background-image: url('../images/hero-background.png');
  background-position: 50%;
  background-size: cover;
}

.hero-bg.vh100 {
  height: auto;
  max-height: none;
  min-height: 100vh;
}

.image-9 {
  width: 100%;
}

.testt {
  margin-top: 100px;
}

.container-2 {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  background-color: rgba(0, 0, 0, 0);
  justify-content: space-between;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.navbar-2 {
  width: 90%;
  max-width: 1320px;
  background-color: rgba(0, 0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}

.div-block-434 {
  display: flex;
}

.new-menu {
  width: 90%;
  max-width: 1320px;
  min-height: 50px;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
}

.absolute-top {
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.form-2 {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  align-items: center;
  display: flex;
}

.text-field-2 {
  margin-bottom: 0;
}

.submit-button {
  background-color: #a06056;
  padding-left: 25px;
  padding-right: 25px;
}

.link-block-2 {
  color: #333;
}

@media screen and (min-width: 1280px) {
  .div-block-12.vh100-min {
    padding-top: 50px;
  }

  .div-block-38 {
    padding-right: 0;
  }

  .div-block-41 {
    grid-column-gap: 74px;
    grid-row-gap: 24px;
    grid-template-rows: auto;
  }

  .section-6 {
    padding-top: 80px;
  }

  .div-block-433._2 {
    background-color: rgba(0, 0, 0, 0);
  }
}

@media screen and (max-width: 991px) {
  .div-block-3 {
    padding-top: 220px;
    padding-bottom: 100px;
  }

  .div-block-4 {
    width: 90%;
  }

  .div-block-12 {
    flex-direction: column-reverse;
  }

  .div-block-12.vh100-min {
    height: auto;
  }

  .div-block-13 {
    width: 100%;
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .div-block-13.h-100._w-45, .div-block-14, .div-block-14.h-100.d-flex-v._w-55 {
    width: 100%;
  }

  .image {
    height: 100vh;
    object-fit: cover;
  }

  .heading-3 {
    font-size: 50px;
    line-height: 67px;
  }

  .div-block-15 {
    max-width: none;
  }

  .div-block-17 {
    height: 100vh;
  }

  .slider {
    height: auto;
  }

  .heading-4 {
    font-size: 40px;
    line-height: 50px;
  }

  .paragraph-4 {
    font-size: 16px;
    line-height: 24px;
  }

  .cover-div {
    justify-content: center;
  }

  .line {
    height: 50%;
  }

  .div-block-21 {
    padding-left: 24px;
    padding-right: 24px;
  }

  .div-block-22 {
    flex-direction: column;
  }

  .div-block-22.reverse {
    flex-direction: column-reverse;
  }

  .div-block-23, .div-block-24 {
    width: 100%;
  }

  .div-block-26 {
    max-width: none;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .div-block-28 {
    padding-top: 0;
  }

  .div-block-30 {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .div-block-34.flip, .div-block-41 {
    flex-direction: column;
    display: flex;
  }

  .div-block-42 {
    width: 100%;
  }

  .div-block-43 {
    max-width: none;
  }

  .div-block-46 {
    grid-row-gap: 20px;
    flex-direction: column;
    align-items: flex-start;
  }

  .div-block-47 {
    width: 100%;
  }

  .div-block-48 {
    width: 100%;
    justify-content: flex-start;
  }

  .div-block-52 {
    padding-bottom: 100px;
  }

  .footer {
    padding-top: 100px;
  }

  .section-4 {
    padding-bottom: 0;
  }

  .div-block-54 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .heading-7 {
    font-size: 50px;
    line-height: 60px;
  }

  .div-block-58 {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .div-block-59 {
    width: 90%;
  }

  .div-block-60 {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .nav-menu {
    background-color: #fff;
    justify-content: flex-start;
    padding: 20px;
  }

  .icon-2 {
    color: #fff;
  }

  .div-block-64 {
    justify-content: flex-start;
    display: flex;
  }

  .menu-button, .menu-button.w--open {
    background-color: rgba(0, 0, 0, 0);
  }

  .div-block-433 {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .button.h-56 {
    width: 30%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .div-block-3 {
    padding-top: 220px;
  }

  .heading {
    font-size: 50px;
    line-height: 60px;
  }

  .div-block-12 {
    flex-direction: column-reverse;
  }

  .div-block-12.vh100-min {
    height: auto;
  }

  .div-block-13 {
    width: 100%;
    padding-bottom: 100px;
  }

  .div-block-13.h-100._w-45, .div-block-14 {
    width: 100%;
  }

  .div-block-14.h-100.d-flex-v._w-55 {
    width: 100%;
    height: auto;
  }

  .image, .div-block-17 {
    height: auto;
  }

  .div-block-18 {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .div-block-19 {
    grid-row-gap: 0px;
    grid-template-columns: 1fr 1fr;
  }

  .cover-div {
    border-bottom: 1px #fff;
    justify-content: center;
  }

  .cover-div._1 {
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
  }

  .cover-div._2 {
    border-bottom-style: solid;
    border-bottom-color: #fff;
  }

  .cover-div._3 {
    border-right: 1px solid #fff;
  }

  .line {
    display: none;
  }

  .div-block-32 {
    width: auto;
  }

  .div-block-52 {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .div-block-53 {
    height: auto;
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .div-block-57, .form {
    width: 100%;
  }

  .text-field {
    width: 70%;
  }

  .div-block-58 {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-items: center;
    margin-top: 30px;
    display: grid;
  }

  .div-block-60 {
    grid-template-columns: 1fr;
  }

  .div-block-433._2 {
    width: 95%;
  }

  .hero-bg.vh100 {
    height: auto;
    max-height: none;
  }
}

@media screen and (max-width: 479px) {
  .button {
    padding-left: 20px;
    padding-right: 20px;
  }

  .button.h-56 {
    width: 100%;
    margin-top: 20px;
  }

  .heading {
    font-size: 40px;
    line-height: 50px;
  }

  .form-filed {
    line-height: 15px;
  }

  .div-block-7 {
    flex-direction: column;
  }

  .div-block-8, .div-block-9 {
    width: 100%;
  }

  .dropdown-toggle-2 {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 30px;
  }

  .icon {
    top: 0%;
    bottom: 0%;
    left: auto;
    right: -18%;
  }

  .image-2 {
    height: auto;
  }

  .heading-5.white.f-30 {
    font-size: 30px;
  }

  .heading-5.center {
    text-align: center;
  }

  .heading-5.mob {
    font-size: 20px;
  }

  .div-block-35 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .div-block-38 {
    padding: 0;
  }

  .div-block-39 {
    flex-direction: column;
    display: flex;
  }

  .image-5 {
    height: auto;
  }

  .div-block-40 {
    max-width: 90%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .div-block-42, .div-block-44 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .div-block-50 {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    flex-direction: column;
  }

  .div-block-52 {
    flex-direction: column;
    padding-bottom: 40px;
  }

  .h1 {
    font-size: 50px;
    line-height: 60px;
  }

  .section-4 {
    padding-bottom: 0;
  }

  .heading-7 {
    font-size: 40px;
    line-height: 50px;
  }

  .form {
    grid-row-gap: 0px;
    flex-direction: column;
  }

  .text-field {
    width: 100%;
    margin-bottom: 0;
  }

  .div-block-58 {
    margin-top: 30px;
  }

  .section-5 {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .div-block-61, .div-block-433 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .div-block-433._2 {
    padding-left: 0;
    padding-right: 0;
  }
}

#w-node-_2b02ee66-112e-62b6-f953-8b4fe257c141-8062602e, #w-node-a9b1f9a2-0b4f-53b3-2578-0a130cf5a868-8062602e, #w-node-_3d7f1e2f-d4cb-e30e-802d-53784b1e43b7-8062602e, #w-node-a070898c-00d2-9a21-28a7-d9c73e80860a-8062602e, #w-node-_9d947a2c-c82d-f3c9-9d50-3a883366f695-8062602e, #w-node-f94e983c-e789-af60-8773-da4d7caa7bcc-8062602e, #w-node-fb2563c2-224f-fa60-28f7-ca68d6ca4f19-8062602e, #w-node-c645b19a-4dbb-8b17-9eed-14ba62abf79d-8062602e, #w-node-_3b09ee26-330d-bf76-6757-53a4e96e8691-8062602e, #w-node-_3b09ee26-330d-bf76-6757-53a4e96e8692-8062602e, #w-node-_247922a0-9b4f-370a-3f82-9e37d82264fd-1b99681e, #w-node-_80bc26e5-335e-cb8e-c474-340c2b046b4b-1b99681e {
  grid-area: span 1 / span 1 / span 1 / span 1;
}


